<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pagoda.dao.StoreGoodsRelMapper">


    <resultMap id="BaseResultMap" type="com.pagoda.bean.StoreGoodsRel" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="storeID" property="storeID" jdbcType="INTEGER" />
        <result column="goodsID" property="goodsID" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
        <result column="lastUpdate" property="lastUpdate" jdbcType="TIMESTAMP" />
        <result column="saleStatus" property="saleStatus" jdbcType="VARCHAR" />
        <result column="stockBorder" property="stockBorder" jdbcType="INTEGER" />
    </resultMap>


    
    <select id="getStoreGoodsRelByCondition" resultMap="BaseResultMap">
        SELECT
        s.id AS id, s.storeID AS storeID, s.goodsID AS goodsID, s.status AS status, s.createTime AS createTime, s.lastUpdate AS lastUpdate,
        s.saleStatus AS saleStatus, s.stockBorder AS stockBorder
        FROM  store_goods_rel s INNER JOIN goods g  ON s.goodsID = g.id
        WHERE
          g.status = #{goodsStatus} AND
          g.isPre = #{isPre} AND
          g.goodSubType = #{goodSubType} AND
          g.groupSupport =#{groupSupport} AND
          s.storeID =#{storeID} AND
          s.status = #{storeStatus}
    </select>


</mapper>